/* ELIMINA SOMBRA BRANCA NO TEXTO NO FIREFOX*/
* { text-shadow: none !important; }

/* SECAO DA DIV DO FORM DE CADASTRO */
#cadastro {
    padding: 80px 00px 50px;
    border-top: 1px solid #ccc;
    line-height: 24px;
    text-align: center;
}

#cadastro form input{
    border: 1px solid #aaa;
}

#cadastro form select{
    border: 1px solid #aaa !important;
}

#cadastro form textarea{
    border: 1px solid #aaa;
}

/* DIV DO FORM DE CADASTRO */
#corpo{
    width: 1200px;
    min-width: 600px;
    text-align: left;
}

.corpo{
    width: 1200px;
    min-width: 600px;
    text-align: left;
}

.corpo-in{
    width: 1160px;
    min-width: 600px;
    text-align: left;
}

.corpo-in-med{
    width: 600px;
    min-width: 600px;
    text-align: left;
}

.corpo-in-min{
    width: 200px;
    min-width: 200px;
    text-align: left;
}

#corpo_ordem{
    width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
    text-align: left;
}

#corpo_cliente{
    width: 600px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
}

.corpo_venda{
    display: inline-block;
    max-width: 1300px;
    margin: 0 auto;
    text-align: left;
}

#corpo_produto{
    width: 450px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
}

#corpo_movimento{
    width: 800px;
    max-width: 2000px;
    margin: 0 auto;
    text-align: left;
}

#corpo_transp{
    width: 400px;
    min-width: 100px;
    margin: 0 auto;
    text-align: left;
}

/* TITULO ANTES DO FORM -- NAO ESTA MAIS USANDO */
#titulo{
    margin: 0px 10px 0px;
}

/* ARTICLE DA TABELA DO FORM */
.grupo{
    border: 1px solid #666;
    padding: 0px 10px 0px;
    margin: 0px 10px 0px;
    background: #fff;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* TABELA DO FORM */
#titulo_form{
    border-spacing: 0px;
    border: 1px solid #aaa;
    width: 1160px;
    height: 200px;
}

#titulo_form .topo{
    text-align: center;
    width: 386px;
    padding: 0px;
}

#titulo_form .topo{
    border: 1px solid #aaa;
}

#titulo_form .cabecalho{
    text-align: right;
    width: 1150px;
    border-spacing: 5px;
    border: 1px solid #aaa;
}

/* CELULAS NO GERAL */
td, th{
    border: 1px solid #aaa;
}


/* CELULA DOS SERVICOS*/
#servico td{
    border: 0px;
    vertical-align: top;
    padding-left: 20px;
}

#servico td:first-of-type{
    padding-left: 0px;
}

/* CELULA DOS ITENS DE RETIRADA*/
#retirada td{
    border: 0px;
    vertical-align: top;
    padding-left: 40px;
}

#retirada td:first-of-type{
    padding-left: 0px;
}

/* RODAPE */
#rodape td{
    border: 0px;
    vertical-align: top;
    text-align: left;
    padding-left: 100px;
}

#rodape td:first-of-type{
    padding-left: 20px;
}

/* TEXTO PEQUENO DO RODAPE*/
#menor{
    font-size: 12pt;
}

/* LINK DOS LINKS MARCADOS*/
.interno{
    padding: 5px;
    border: 0px solid #333;
    background: #fff;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

.interno:link{
    text-decoration: none;
    color: #333;
}

.interno:visited{
    text-decoration: none;
    color: #333;
}

.interno:hover{
    background:#778CBD; 
    color:#FFF;
    text-decoration: none;
}

.interno:active{
    text-decoration: none;
    color: #000;
    background: #bbb;
}

/* TABELA DE EXIBICAO DOS ITENS NA LISTA DE PESQUISA*/
#lista{
    border-spacing: 0;
    border-collapse: separate;
    font-size: 10pt;
    /*background: #fff;*/
}

#lista #lista_content td{
    background: #fff;
    color: #444;
}

#lista #lista_content:hover td {
    background: #E0EEEE !important;
    color: #444;
}

#lista #lista_content td{
    padding: 5px;
}

#lista #lista_titulo td{
    padding: 5px;
}

/* CAIXA DE PESQUISA COM ICONE NO INPUT*/

#search{
    margin-right: 10px;
}

#pesquisa{
    background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
    background-size: 10px;
    padding-right:0px;
    width: 200px;
    border: 2px solid #777;
}

#pesquisa_img{
    position:absolute; 
    bottom:14px; 
    right:8px; 
    width:15px; 
    height:15px;
}

/*ITENS DO FORMULÃRIO (LABEL E INPUT)*/

.divisao{
    display: inline-block;
    padding: 15px 10px 0px;
    border: 1px solid #333;
}

.item{
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
}

.item_titulo{
    font-size: 11pt;
}

.nav>li>a>.nav_logo{
    max-width: 100px;
    margin-top: -40px;
}

/*CCE*/

.roll-200{
    height: 180px !important;
    width: 200px;
    overflow:auto; 
}

.roll-200-2{
    height: 180px !important;
    width: 500px;
    overflow:auto; 
}