html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0; padding:0; border:0; background:transparent;
  /*vertical-align: baseline;*/
}

/* lists */
.list-full, .list-full li,
.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

/* floats */
.float-l { float: left; }
.float-r { float: right; }

body {
  width:100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background: #D7DDEC;
}

#logoh {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-165px;
	margin-left:-262px;
	
	} 
	

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #333;
  background: #445A8C;
  z-index: 2;
}


header h1 {
  padding: 15px 0 0 20px;
  font-size:21px;
  text-decoration: none;
}

header h1 a {
  color: #fff;
}

header ul {
  padding: 15px 10px 0 0;
}

header li {
  border-left: 1px solid #fff;
}

header li:first-child {
  border: none;
}

header li a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header li a:hover {
  color: #D7DDEC;
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

/* init modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
  padding: 10px;
  max-width: 600px;
  min-width: 360px;
  max-height: 85%;
  overflow: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-content img {
  display: block;
  width: 100%;
  margin: 10px 0 0;
}

.modal-content p {
  padding-top: 10px;
  text-align: justify;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-close:after {
  content: "X";
  float: right;
  margin: 5px 5px 0 0;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20px;
  box-shadow: 0 0 3px #000;
}

input[id*="modal_"] {
  position: fixed;
  left: -9999px;
  top: 50%;
  opacity: 0;
}
input[id*="modal_"]:checked + div.modal {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

input[id*="modal_"]:checked + div.modal .modal-content {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media screen and (max-width: 950px) {
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li {
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header li a {
    padding: 15px 10px;
  }

  header li a:hover {
    background-color: #ccc;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    display: block;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  header+section {
    padding-top: 80px;
  }

  section {
    padding: 30px 15px 10px;
  }

  .highlights {
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  .highlights-item {
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .highlights-item p {
    opacity: 0;
    -webkit-transition: opacity 500ms 500ms ease-in-out;
    transition: opacity 500ms 500ms ease-in-out;
  }

  .highlights-buttons {
    display: block;
    padding-top: 10px;
  }
	
  /*checked*/
  .highlights input:checked + div {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .highlights input:checked + div p {
    opacity: 1;
  }

  .highlights input:nth-of-type(1):checked ~ .highlights-buttons label:nth-child(1),
  .highlights input:nth-of-type(2):checked ~ .highlights-buttons label:nth-child(2),
  .highlights input:nth-of-type(3):checked ~ .highlights-buttons label:nth-child(3) {
    background-color: #000
  }

  .modal-content {
    padding: 10px 5%;
    min-width: 88%;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 20px;
    line-height: 40px;
  }
}

.css_btn_class {
	font-size:17px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:0px solid #ffffff;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #435b8c 105%, #a3b8e6 0% );
	background:-ms-linear-gradient( top, #435b8c 105%, #a3b8e6 0% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#435b8c', endColorstr='#a3b8e6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(105%, #435b8c), color-stop(0%, #a3b8e6) );
	background-color:#435b8c;
	color:#fafafa;
	display:inline-block;
	text-shadow:1px 1px 0px #5562a1;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #0;
 	-moz-box-shadow:inset 1px 1px 0px 0px #0;
 	box-shadow:inset 1px 1px 0px 0px #0;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #a3b8e6 105%, #435b8c 0% );
	background:-ms-linear-gradient( top, #a3b8e6 105%, #435b8c 0% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3b8e6', endColorstr='#435b8c');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(105%, #a3b8e6), color-stop(0%, #435b8c) );
	background-color:#a3b8e6;
}.css_btn_class:active {
	position:relative;
	top:1px;
}

/* INPUTS E SELECTS */
input[type=text], input[type=password]{     
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:1px solid #000000;
    width:150px;
	height:30px;
}

input[type=text]:hover, input[type=password]:hover{ 
         background:#778CBD; 
         border:1px solid #990000;
		 color:#FFF;
}


select{     
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:0px solid #000000;
    width:150px;
	height:30px;
}

select:hover{ 
         background:#778CBD; 
         border:0px solid #990000;
		 color:#FFF;
}

button{
	
}


